.navbar.navbar-fixed-top.navbar-inverse
	.navbar-inner
		.container
				a.brand(href='/')
					| IPL Content Management
				.nav-collapse.collapse
					ul.nav
						for page in pages
							- var c = (page.id === id) ? 'active' : '';
								li(class=c)
									a(href=page.url)=page.title
