doctype 5
html
	head
		block head
			title= title
			link(rel='stylesheet', href='/stylesheets/koala-compiled.css')
			link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
			link(rel='stylesheet', href='/ui-darkness/jquery-ui-1.10.0.custom.min.css')

	body

		include ../includes/topnav

		block above_content

		.container

			block content

			hr
			footer
				block footer
					p &copy; International Pro League 2013



		block scripts
			script(src='/jquery/jquery-1.9.0.min.js')
			script(src='/jquery/jquery-ui-1.10.0.custom.min.js')
			script(src='/underscore/underscore-min.js')
			script(src='/backbone/backbone-min.js')
			script(src='/bootstrap/bootstrap.min.js')
			script(src='/moment/moment.min.js')
			script(src='/holder/holder.js')
			script(src='/javascripts/koala-compiled.js')
