doctype 5
html
	head
		block head
			title= title
			link(rel='stylesheet', href='/stylesheets/koala-compiled.css')

	body

		include ../includes/topnav

		block above_content

		.container

			block content

			hr
			footer
				block footer
					p &copy; International Pro League 2013



		block scripts
			script(src='/javascripts/koala-compiled.js')
