doctype 5
html
	head
		block head
			title= title
			link(rel='stylesheet', href='/stylesheets/koala-compiled.css')

	body

		include ../includes/topnav

		block above_content

		.container

			block content

			hr
			footer
				block footer
					p &copy; Blizzard. Koala 0.5.0



		block scripts
			script(src='/javascripts/koala-compiled.min.js')
