extends basic


block content

	.add_item_prompt
		h1 Looking to create a new #{type}?
		a.btn.btn-primary.btn-large(href='/#{id}/new') Get Started &raquo;

	hr
	h2 #{type} Listing
	
	include ../includes/filter-pills

	block listing-table

