extends basic


block content

	.add_item_prompt
		h1 Looking to create a new #{type}?
		a.btn.btn-primary.btn-large(href='/#{id}/new') Get Started &raquo;

	hr
	h2 #{type} Listing

	#group_pills

	block listing-table
	

append scripts
	script#group_pill(src="javascripts/templates/group-pill.js", type="text/template")
	script
		$(function() {
			var Groups = Koala.collections.new('groups');
			var group_pills = Koala.views.new('group_pills', {
				collection: Groups
			});
			Groups.fetch();

			$('#group_pills').replaceWith(group_pills.el);

		});
