extends layouts/basic

block append head
	link(rel='stylesheet', href='/stylesheets/vendor/ui-darkness/jquery-ui-1.10.0.custom.min.css')


block content

	h2 Create Event

	.form-horizontal
		#event_form_target
		#matchup_form_target

	.form-horizontal
		.form-actions
			button.btn.btn-success#save_event Create Event
			&nbsp;
			- var href = breadcrumbs.length > 1 ? breadcrumbs[breadcrumbs.length-2].url : '';
			a.btn#cancel(href=href) Cancel

block append templates
	script(src='/javascripts/templates/warning.js')
	script(src='/javascripts/templates/date_form.js')
	script(src='/javascripts/templates/matchup_form.js')
	script(src='/javascripts/templates/event_form.js')

block append scripts
	script(src='/javascripts/vendor/jquery/jquery-ui-1.10.0.custom.min.js')
	script(src='/javascripts/vendor/moment/moment.min.js')
	script
		$(function() {
			var Event = Koala.models.new('event');
			Koala.views.new('event_form', {
				model: Event
			})
			.render();

			var Matchup = Koala.models.new('matchup');
			Koala.views.new('matchup_form', {
				model: Matchup
			})
			.render();

			$('#save_event').click(function() {
				var self = this;

				$(self).button('loading');

				Event.set('matchup', _.clone(Matchup.attributes));

				Event.save(null, {
					success: function(model, response) {
						var id = response && response.id;
						location.replace("#{href}"+"/"+id);
					},
					error: function(model, xhr) {
						window.scrollTo(0,0);
					},
					complete: function() {
						$(self).button('reset');
					}
				});
			});

			
		});
