extends layouts/listing

block listing-table

	table.table.table-hover
		thead
			th Status
			th Franchise
			th Title
			th Starts
			th Action

		tbody#eventsTable

block append scripts
	script(src='/javascripts/vendor/moment/moment.min.js')
	script
		$(function() {
			var Collection = Koala.collections.new('#{id}');
			var View = Koala.views.new('event_tbody', {
				collection: Collection
			});

			Collection.fetch({
				data: location.search.replace(/^\?(.*)/gi, '$1')
			});
		});


