extends layouts/basic

block append head
	link(rel='stylesheet', href='/stylesheets/vendor/ui-darkness/jquery-ui-1.10.0.custom.min.css')


block content

	h2 Edit Event
	p.lead Changes made to this event will be instantly saved.

	.form-horizontal
		#event_form_target
		#matchup_form_target

	.form-horizontal
		.form-actions
			button.btn.btn-danger#delete Delete
			&nbsp;
			- var href = breadcrumbs.length > 1 ? breadcrumbs[breadcrumbs.length-2].url : '';
			a.btn(href=href) Go Back

block append templates
	script(src='/javascripts/templates/warning.js')
	script(src='/javascripts/templates/date_form.js')
	script(src='/javascripts/templates/matchup_form.js')
	script(src='/javascripts/templates/event_form.js')
		
block append scripts
	script(src='/javascripts/vendor/jquery/jquery-ui-1.10.0.custom.min.js')
	script(src='/javascripts/vendor/moment/moment.min.js')
	script
		$(function() {
			//Event
			var Event = Koala.models.new('event', {
				id: '#{event_id}'
			});

			var event_form = Koala.views.new('event_form', {
				model: Event
			});

			Event.fetch({

				success: function(model, data) {

					event_form.render();

					if(data && data.matchup && data.matchup.id) {
						var Matchup = Koala.models.new('matchup');
						Matchup.urlRoot = '/api/matchups';
						Matchup.id = data.matchup.id;

						var matchup_form = Koala.views.new('matchup_form', {
							model: Matchup
						});

						Matchup.fetch({
							success: function(model, data) {
								matchup_form.render();
							}
						});
					}

					$('#delete').click(function() {
						var self = this;
						$(this).button('loading');

						Event.destroy(null, {
							success: function(model, response) {
								location.replace("#{href}");
							},
							error: function(model, xhr) {
								window.scrollTo(0,0);
							},
							complete: function() {
								$(self).button('reset');
							}
						});
					});
				}
			});

		});
