extends layouts/listing

block listing-table

	table.table.table-hover
		thead
			th Status
			th Franchise
			th Title
			th Starts
			th Action

		tbody#eventsTable


block append scripts
	include templates/event-tr
	include templates/confirm-modal
	script(src='/javascripts/vendor/moment/moment.min.js')
	script(src='/javascripts/models/event.js')
	script(src='/javascripts/collections/events.js')
	script(src='/javascripts/views/event_tr.js')
	script(src='/javascripts/views/event_tbody.js')
	script(src='/javascripts/views/confirm_delete_modal.js')
	script
		$(function() {
			var Collection = Koala.collections.new('#{id}');
			var View = Koala.views.new('event_tbody', {
				collection: Collection
			});

			Collection.fetch({
				data: location.search.replace(/^\?(.*)/gi, '$1')
			});
		});


