extends layouts/edit

append form
	#event_form_target

append scripts
	script
		$(function() {
			//Event
			var Event = Koala.models.new('event', {
				id: '#{event_id}'
			});

			var event_form = Koala.views.new('event_form', {
				model: Event
			});

			var create_delete_button = Koala.views.new('create_delete_button', {
				model: Event,
				type: "Event",
				back: "#{back}"
			});
			$('#delete').replaceWith(create_delete_button.render().el);

			Event.fetch({

				success: function(model, data) {
					$('#event_form_target').replaceWith(event_form.el);
					event_form.render();

					//- if(data && data.matchup && data.matchup.id) {
					//- 	var Matchup = Koala.models.new('matchup', data.matchup);

					//- 	var matchup_form = Koala.views.new('matchup_form', {
					//- 		model: Matchup
					//- 	});

					//- 	$('#matchup_form_target').replaceWith(matchup_form.el);
					//- 	matchup_form.render();

					//- }
				}
			});

		});
