extends layouts/new

append form
	#event_form_target

append scripts
	script
		$(function() {
			var Event = Koala.models.new('event');
			var event_form = Koala.views.new('event_form', {
				model: Event
			});
			$('#event_form_target').replaceWith(event_form.el);
			event_form.render();

			var create_delete_button = Koala.views.new('create_delete_button', {
				model: Event,
				type: "Event",
				back: "#{back}"
			});
			$('#create').replaceWith(create_delete_button.render().el);

			//- $('#save').click(function() {
			//- 	var self = this;

			//- 	$(self).button('loading');

			//- 	Event.set('matchup', _.clone(Matchup.attributes));

			//- 	Event.save(null, {
			//- 		success: function(model, response) {
			//- 			var id = response && response.id;
			//- 			location.replace("#{back}"+"/"+id);
			//- 		},
			//- 		error: function(model, xhr) {
			//- 			window.scrollTo(0,0);
			//- 		},
			//- 		complete: function() {
			//- 			$(self).button('reset');
			//- 		}
			//- 	});
			//- });

			
		});
