extends layouts/basic

block content
	h2 Edit Event
	p.lead Changes made to this event will be instantly saved.

	.form-horizontal
		#event_form_target
		#matchup_form_target

	.form-horizontal
		.form-actions
			button.btn.btn-danger#delete Delete
			&nbsp;
			- var href = breadcrumbs.length > 1 ? breadcrumbs[breadcrumbs.length-2].url : '';
			a.btn(href=href) Go Back
		

block append scripts
	script
		$(function() {
			//Event
			var Event = Koala.models.new('event', {
				id: '#{event_id}'
			});

			var event_form = Koala.views.new('event_form', {
				model: Event
			});

			Event.fetch({

				success: function(model, data) {

					$('#event_form_target').replaceWith(event_form.el);
					event_form.render();

					if(data && data.matchup && data.matchup.id) {
						var Matchup = Koala.models.new('matchup', data.matchup);

						var matchup_form = Koala.views.new('matchup_form', {
							model: Matchup
						});

						$('#matchup_form_target').replaceWith(matchup_form.el);
						matchup_form.render();

					}

					$('#delete').click(function() {
						var self = this;
						$(this).button('deleting');

						Event.destroy({
							success: function(model, response) {
								location.replace("#{href}");
							},
							error: function(model, xhr) {
								window.scrollTo(0,0);
							},
							complete: function() {
								$(self).button('reset');
							}
						});
					});
				}
			});

		});
