extends layouts/basic

block content
	.hero-unit
		h1 Welcome,
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ante sagittis massa fringilla elementum luctus quis dolor. Donec eu arcu sed nisl sollicitudin dictum. Suspendisse sed iaculis velit. Praesent auctor rutrum velit, sit amet mollis sapien egestas quis. Pellentesque nec turpis a nulla tincidunt rutrum vel et nisl. Mauris eget massa vitae velit blandit ultricies. Nullam laoreet malesuada vulputate. Curabitur dictum ipsum sed nisi consequat vel gravida augue convallis. Sed eget ornare metus. Praesent pellentesque ultrices purus, in vulputate nibh semper ac. Nam eget ligula id ligula aliquet consectetur vitae quis quam.