extends layouts/basic

block above_content
	include includes/splash
	.page_menu
		.container
			strong Options:
			a.btn(href='/#{id}/new')
				i.icon-pencil
				|  Create #{type}

block content
	#groupPills
	#listingTable

block append scripts
	script
		$(function() {
			var table = Koala.views.new('#{id}_table');
			$('#listingTable').replaceWith(table.el);
			table.render();
		});

	//Enable sorting by groups for events

	if(id === "events")
		script
			$(function() {
				var Groups = Koala.collections.new('groups');
				var group_pills = Koala.views.new('group_pills', {
					collection: Groups
				});
				Groups.fetch();

				$('#groupPills').replaceWith(group_pills.el);
			});



