extends layouts/edit

append form
	#matchup_form_target

append scripts
	script
		$(function() {
			var Matchup = Koala.models.new('matchup', {
				id: '#{matchup_id}'
			});

			var matchup_form = Koala.views.new('matchup_form', {
				model: Matchup
			});

			Matchup.fetch({

				success: function(model, data) {

					$('#matchup_form_target').replaceWith(matchup_form.el);
					matchup_form.render();


					$('#delete').click(function() {
						var self = this;
						$(this).button('loading');

						Matchup.destroy({
							success: function(model, response) {
								location.replace("#{back}");
							},
							error: function(model, xhr) {
								window.scrollTo(0,0);
							},
							complete: function() {
								$(self).button('reset');
							}
						});
					});
				}
			});

		});
