extends layouts/basic

block content
	h2 #{title}
	p.lead Changes made to this matchup will be instantly saved.

	.form-horizontal
		#matchup_form_target

	.form-horizontal
		.form-actions
			button.btn.btn-danger#delete Delete
			&nbsp;
			- var href = breadcrumbs.length > 1 ? breadcrumbs[breadcrumbs.length-2].url : '';
			a.btn(href=href) Go Back
		

block append scripts
	script
		$(function() {
			var Matchup = Koala.models.new('matchup', {
				id: '#{matchup_id}'
			});

			var matchup_form = Koala.views.new('matchup_form', {
				model: Matchup
			});

			Matchup.fetch({

				success: function(model, data) {

					$('#matchup_form_target').replaceWith(matchup_form.el);
					matchup_form.render();


					$('#delete').click(function() {
						var self = this;
						$(this).button('loading');

						Matchup.destroy({
							success: function(model, response) {
								location.replace("#{href}");
							},
							error: function(model, xhr) {
								window.scrollTo(0,0);
							},
							complete: function() {
								$(self).button('reset');
							}
						});
					});
				}
			});

		});
