extends layouts/new

append form
	#matchup_form_target

append scripts
	script
		$(function() {
			var Matchup = Koala.models.new('matchup');

			var matchup_form = Koala.views.new('matchup_form', {
				model: Matchup
			});

			$('#matchup_form_target').replaceWith(matchup_form.el);
			matchup_form.render();

			var create_delete_button = Koala.views.new('create_delete_button', {
				model: Matchup,
				type: "Matchup",
				back: "#{back}"
			});
			$('#create').replaceWith(create_delete_button.render().el);

		});
