extends layouts/basic

block content
	h2 #{title}
	p.lead Changes made to this team will be instantly saved.

	.form-horizontal
		#team_form_target

	.form-horizontal
		.form-actions
			button.btn.btn-danger#delete Delete
			&nbsp;
			- var href = breadcrumbs.length > 1 ? breadcrumbs[breadcrumbs.length-2].url : '';
			a.btn(href=href) Go Back
		

block append scripts
	script(src='/javascripts/vendor/moment/moment.min.js')
	script
		$(function() {
			var Team = Koala.models.new('team', {
				id: '#{team_id}'
			});

			var team_form = Koala.views.new('team_form', {
				model: Team
			});

			Team.fetch({

				success: function(model, data) {

					$('#team_form_target').replaceWith(team_form.el);
					team_form.render();


					$('#delete').click(function() {
						var self = this;
						$(this).button('loading');

						Team.destroy({
							success: function(model, response) {
								location.replace("#{href}");
							},
							error: function(model, xhr) {
								window.scrollTo(0,0);
							},
							complete: function() {
								$(self).button('reset');
							}
						});
					});
				}
			});

		});
