extends layouts/basic

block content
	h2 #{title}

	.form-horizontal
		#team_form_target

	.form-horizontal
		.form-actions
			button.btn.btn-success#save_team #{title}
			&nbsp;
			- var href = breadcrumbs.length > 1 ? breadcrumbs[breadcrumbs.length-2].url : '';
			a.btn#cancel(href=href) Cancel
		

block append scripts
	script
		$(function() {
			var Team = Koala.models.new('team');

			var team_form = Koala.views.new('team_form', {
				model: Team
			});

			$('#team_form_target').replaceWith(team_form.el);
			team_form.render();

			$('#save_team').click(function() {
				var self = this;

				$(self).button('loading');

				Team.save(null, {
					success: function(model, response) {
						var id = response && response.id;
						location.replace("#{href}"+"/"+id);
					},
					error: function(model, xhr) {
						window.scrollTo(0,0);
					},
					complete: function() {
						$(self).button('reset');
					}
				});
			});

		});
