extends layouts/edit

append form
	#team_form_target

block append scripts
	script
		$(function() {
			var Team = Koala.models.new('team', {
				id: '#{team_id}'
			});

			var team_form = Koala.views.new('team_form', {
				model: Team
			});

			var create_delete_button = Koala.views.new('create_delete_button', {
				model: Team,
				type: "Team",
				back: "#{back}"
			});
			$('#delete').replaceWith(create_delete_button.render().el);

			Team.fetch({
				success: function(model, data) {
					$('#team_form_target').replaceWith(team_form.el);
					team_form.render();
				}
			});

		});
