@import "vendor/bootstrap/bootstrap.min.css"
@import "vendor/ui-darkness/jquery-ui-1.10.0.custom.min.css"

body 
	padding 60px 0 60px 0
	color #5A5A5A

legend 
	color #5A5A5A
	font-size 16px
	font-weight 200

h1, h2, h3 
	font-weight 200

h1 
	font-size 52px

h2 
	font-size 28px

h3 
	font-size 18px

th 
	white-space nowrap

.no-margin 
	margin 0

.table td 
	vertical-align middle

.table .btn
	white-space nowrap

.navbar 
	margin-bottom 0

.splash
	padding 30px 0 30px 0
	color #FFF
	margin-bottom 20px
	text-shadow 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075)

	background #a90329 /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background -moz-linear-gradient(45deg,  #a90329 0%, #b7031e 44%, #6d0019 100%) /* FF3.6+ */
	background -webkit-gradient(linear, left bottom, right top, color-stop(0%,#a90329), color-stop(44%,#b7031e), color-stop(100%,#6d0019)) /* Chrome,Safari4+ */
	background -webkit-linear-gradient(45deg,  #a90329 0%,#b7031e 44%,#6d0019 100%) /* Chrome10+,Safari5.1+ */
	background -o-linear-gradient(45deg,  #a90329 0%,#b7031e 44%,#6d0019 100%) /* Opera 11.10+ */
	background -ms-linear-gradient(45deg,  #a90329 0%,#b7031e 44%,#6d0019 100%) /* IE10+ */
	background linear-gradient(45deg,  #a90329 0%,#b7031e 44%,#6d0019 100%) /* W3C */

.navbar + .splash
	margin-top -20px

.page_menu 
	height 50px
	background-color #EEE
	line-height 50px
	margin-bottom 20px

.splash + .page_menu,
.navbar + .page_menu
	margin-top -20px

.page_menu strong + .btn
	margin-left 10px

.page_menu .btn
	margin-right 10px

.timeWarning 
	margin 20px 0 20px 0

.timeWarning .span4 
	margin 0

#teamWarning 
	margin 0

#bestOf 
	margin 0

.team_image
	margin-right 10px
	width 40px
	max-height 40px

.team_li .thumbnail
	overflow hidden

.team_li img
	width 77px
	height 77px
	margin-right 10px

.team_li h4
	font-weight 200
	font-size 16px
	white-space nowrap
	text-overflow ellipsis
	overflow hidden