script(type='text/template', id='event_tr')
	td.
		<span class='label <% 
		switch(status) {
			case 'Pending':
				%>label-inverse<%
				break;

			case 'Underway':
				%>label-important<%
				break;

			case 'Starting Soon':
				%>label-warning<%
				break;
			}
		%>'><%= status %></span>

	td <%= franchise %>
	td <%= title %>
	td <%= starts_at %>
	td
		.btn-group
			a.btn(href!='/#{id}/<%= id %>') Edit
			button.btn.dropdown-toggle(data-toggle='dropdown')
				span.caret
			ul.dropdown-menu(role='menu')
				li
					a(href!='/#{id}/<%= id %>') Edit
				li
					a(class='delete') Delete