td
	span.label.label-success <%= status %>
td <%= teams[0] && teams[0].name || "TBA" %>
td <%= teams[1] && teams[1].name || "TBA" %>
td <%= best_of %>
td <%= games.length %>
td
	.btn-group
		a.btn(href!='/matchups/<%= id %>') Edit
		button.btn.dropdown-toggle(data-toggle='dropdown')
			span.caret
		ul.dropdown-menu(role='menu')
			li
				a(class='delete') Delete