td <%= number %>
td
	span.label.label-success <%= status %>
td <%= franchise %>
td <%= title %>
td <%= team1 %>
td <%= team2 %>
td <%= bestOf %>
td
	.btn-group
		| <a class="btn" href="/matchups/<%= id %>">Edit</a>
		button.btn.dropdown-toggle(data-toggle='dropdown')
			span.caret
		ul.dropdown-menu(role='menu')
			li
				a(class='delete') Delete