td.
	<span class='label <% 
	switch(status) {
		case 'Pending':
			%>label-inverse<%
			break;

		case 'Underway':
			%>label-important<%
			break;

		case 'Starting Soon':
			%>label-warning<%
			break;
		}
	%>'><%= status %></span>

td <%= franchise %>
td <%= title %>
td <%= starts_at %>
td.actionButton