.btn-group
	a.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", href="#") Choose Winner 
		span.caret
	ul.dropdown-menu
		li 
			a.teamA_select <%= teamA.name %>
		li
			a.teamB_select <%= teamB.name %>