td <%= number %>
td.
	<span class='label <% 
			switch(status) {
				case 'underway':
					%>label-info<%
					break;

				case 'ready':
					%>label-warning<%
					break;
				}
			%>'><%= status.toUpperCase() %></span>
td <%= starts_at %>
td <%= ends_at %>
td <%= winner %>
td.action