td <%= name %>
td
	.btn-group
		a.btn(href!='/teams/<%= id %>') Edit
		button.btn.dropdown-toggle(data-toggle='dropdown')
			span.caret
		ul.dropdown-menu(role='menu')
			li
				a(class='delete') Delete